{% extends 'base.html' %}
{% block subtitle %} Feed {% endblock %}
{% block content %}
<div class="fluid-container">
    {% for post in object_list %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <h6 class="card-text">{{post.author}}</h6>
            <p class="card-text">{{post.body}}</p>
            <a href="#" class="btn btn-primary">detail view</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}