<!DOCTYPE html>
<html lang='en'>
<head>
    {% load bootstrap5 %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Apollo | {% block subtitle %}{% endblock %} </title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <div class="container-fluid">
        <div class="container">
            {% include 'navbar.html' %}
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>