{% extends 'base.html' %}
{% block subtitle %} Home {% endblock %}
{% block navbar %}
{% block includes %}
{{links}}
{% endblock includes %}
{% endblock %}
{% block content %}
<div class="container-fluid text-center">
  <div class="jumbotron">
  <h1 class="display-4">Welcome to AnyaHub</h1>
  <p class="lead">A central hub that stores, curates, and routes all your social media posts</p>
  <hr class="my-4">
    <div class="container">
  <p>Just text your posts to AnyaHub with keyword "Twitter", "Facebook", "Instagram", or any other keywords you set up to post to any of your social media accounts</p>
     </div>
      <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Create an Account</a>
  </p>
</div>

  </div>


<div class="container-fluid">
  <div class="row">
    <div class="col">

    <div class="card border-primary bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header text-primary">Step 1</div>
        <div class="card-body text-secondary">
          <h5 class="card-title">Put your AnyaHub number in your phone's contacts</h5>
          <p class="card-text">
            You can text your social media posts to this number any time and they will be added to
            your RSS feed in your AnyaHub account
          </p>
        </div>
      </div>
    </div>

  <div class="col">
    <div class="card border-primary bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header text-primary">Step 2</div>
        <div class="card-body text-secondary">
          <h5 class="card-title">Set up Routing Keywords for Your Account</h5>
          <p class="card-text">
            When you text a post to AnyaHub, it will be posted to your AnyaHub RSS feed
            and posted to any one of social media accounts matching the keywords you
            texted it with
          </p>
        </div>
      </div>
  </div>

    <div class="col">
    <div class="card border-primary bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header text-primary">Step 3</div>
        <div class="card-body text-secondary">
          <h5 class="card-title">Follow prompts to authenticate your social media accounts</h5>
          <p class="card-text">
            Just log into your social media accounts once and AnyaHub will integrate with their API, allowing
            you to post through AnyaHub
          </p>
        </div>
      </div>
  </div>

    <div class="col">
    <div class="card border-primary bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header text-primary">Step 4</div>
        <div class="card-body text-secondary">
          <h5 class="card-title">Done!</h5>
          <p class="card-text">
            Now you can text any thought that comes to mind and it'll be archived in your AnyaHub
            RSS Feed. You can choose to schedule posts or directly route them to any social network
            just by texting keyword(s) along with your message
          </p>
        </div>
      </div>
  </div>
  </div>
{% endblock %}