{% extends 'base.html' %}
{% block subtitle %} SNAKES! {% endblock %}
{% block content %}
    <div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4 text-center">Snake Advisory System</h1>
    <p class="lead text-center">Know your snakes</p>
  </div>
</div>
    {% for record in data %}
        <div class="container-fluid">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ record.commonName }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Species: {{ record.species }}</h6>
                    <p class="table-condensed">Scientific Name: {{ record.scientificName }}</p>
                    <p class="card-text">Fun Fact: {{ record.comments }}</p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                                                Does this snake fly?
                                </button>
                            </h2>
                            <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse hide" aria-labelledby="heading{{forloop.counter}}" aria-expanded="false" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>Does not fly <span class="text-success"> (safe)</span></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
             </div>
{% endblock %}