
<!DOCTYPE html>
<html lang='en'>
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <title>Apollo | {% block subtitle %}{% endblock %} </title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            {% include 'navbar.html' %}
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>