<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
      {% load static %}
        <img src="{% static 'apollo_logo.jpeg' %}"  alt="..." width="30" height="24"/>
    </a>
    <a class="navbar-brand" href="{% url 'index' %}">AnyaHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user_logged_in %}


          {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href= "{% url 'signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href= "{% url 'login' %}">Log In</a>
                </li>
          {% endif %}
        {% if user_logged_in %}
        <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle text-success-emphasis border border-primary-subtle rounded-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ current_user.username }}
                </a>

          <ul class="dropdown-menu">
              {% if user_logged_in %}
                <a class="dropdown-item" href="">Profile</a>
                <a class="dropdown-item" href="">Feed</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
              {% endif %}
          </ul>
        </li>
      </ul>
        {% endif %}
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>