{% extends 'base.html' %}
{% block subtitle %} Log In {% endblock %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block content %}



<div class="container">
    <div class="jumbotron-fluid">
        <h2> Please Log In </h2>
    </div>
</div>

<div class="container-fluid text-center">

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
{% crispy form %}
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>






</div>


{% endblock %}