{% extends 'base.html' %}
{% block subtitle %} Sign Up {% endblock %}
{% block content %}
<div class="containter">
    <div class="jumbotron-fluid text-center">
        <h2>Sign Up</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="jumbotron-fluid">
       <div class="card text-bg-success mx-auto" style="max-width: 18rem;">
        <div class="card-header">Successful Login!</div>
            <div class="card-body">
           <a href="{% url 'index' %}">Home</a>
        </div>
    </div>
</div>
</div>
{% endblock %}
