{% extends 'base.html' %}
{% block subtitle %} Sign Up {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron-fluid text-center">
       <div class="card text-bg-success mx-auto" style="max-width: 18rem;">
        <div class="card-header">Registration Successful!</div>
            <div class="card-body">
           <p>Welcome to AnyaHub</p>
        </div>
    </div>
</div>
</div>
{% endblock %}