{% extends 'base.html' %}
{% block subtitle %} Sign Up {% endblock %}
{% block content %}
<div class="containter">
    <div class="jumbotron-fluid text-center">
        <h2>Sign Up</h2>
    </div>
</div>

<div class="container-fluid text-center">

    {% load crispy_forms_tags %}
    {% csrf_token %}
    <form method="post" class="mb-3">
            {% csrf_token %}
        {{ form }}
        <button type="submit" class="">Log In</button>
    </form>




</div>


{% endblock %}